name: Build Docs

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Check-out repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install hatch
        run: |
          python -m pip install --upgrade pip
          python -m pip install hatch

      - name: Build documentation using Hatch
        run: |
          hatch run docs:build
